# https://git-scm.com/docs/git-config

[core]
	editor = \"C:\\Users\\**\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
	autocrlf = false
[user]
	name = **
	email = **

# config多用户配置

# 项目目录1
[includeIf "gitdir:c/work/"]
    path = ~/.gitconfig_work

# 项目目录2
[includeIf "gitdir:path/to/you/dir/"]
    path = ~/.gitconfig_self
